.RequestModule {
}

.RequestModule .tab-nav {
    display: flex;
}

.RequestModule .tab-nav li {
    list-style: none;
    font-weight: bold;
    color: rgb(133, 133, 133);
    font-size: 1rem;
    margin-right: 15px;
}
.RequestModule .tab-nav .on {
    color: black;
    border-bottom: 1px solid rgb(158, 0, 0);
}

.RequestHeader {
    margin-top: 20px;
    width: 70%;
}
.RequestHeader thead {
    background-color: rgb(235, 235, 235);
    font-size: 14px;
}
.RequestHeader th {
    padding-top: 10px;
    padding-bottom: 10px;
}
.RequestModule .key {
    width: 15%;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: 1px solid rgb(218, 218, 218);
    border-right: 1px solid rgb(218, 218, 218);
    padding-left: 10px;
}
.RequestModule .value {
    width: 30%;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 1px solid rgb(218, 218, 218);
    padding-left: 10px;
}
.RequestModule .descript {
    width: 30%;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 1px solid rgb(218, 218, 218);
    padding-left: 10px;
}
.RequestModule .modify-td {
    display: flex;
    padding-left: 10px;
    color: gray;
    border-right: 1px solid rgb(218, 218, 218);
}
.RequestModule .modify-td span {
    cursor: pointer;
    padding-right: 15px;
}
.RequestModule .RequestHeaderItem {
    cursor: pointer;
    border-bottom: 1px solid rgb(211, 211, 211);
}
.RequestModule .RequestHeaderItem:hover {
    background-color: rgb(241, 241, 241);
}
.RequestModule .RequestHeaderItem td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.RequestModule .item-add-btn {
    color: gray;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    width: 70%;
}

.RequestHeaderEditModal .modal-body div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.RequestHeaderEditModal .modal-body label {
    color: gray;
    font-size: 14px;
    font-weight: bold;
}

.RequestModule .RequestBody {
    margin-top: 20px;
}
