.RequestModule {
}

.RequestModule .tab-nav {
    display: flex;
}

.RequestModule .tab-nav li {
    list-style: none;
    font-weight: bold;
    color: rgb(133, 133, 133);
    font-size: 1rem;
    margin-right: 15px;
}
.RequestModule .tab-nav .on {
    color: black;
    border-bottom: 1px solid rgb(158, 0, 0);
}

.RequestHeader {
    margin-top: 20px;
    border: 1px solid rgb(230, 230, 230);
    width: 50%;
    min-width: 470px;
}

.RequestHeader .add-item {
    border-bottom: 1px solid rgb(204, 204, 204);
    display: flex;

    justify-content: space-around;
}

.RequestHeader .add-item .item-input-header {
    width: 100%;
    text-align: center;
    border-right: 1px solid rgb(219, 219, 219);
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(233, 233, 233);
}

.RequestHeader .add-item .item-input {
    border: none;
    width: 100%;
    outline: none;
    border-right: 1px solid rgb(219, 219, 219);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.RequestModule .add-div {
    text-align: center;
}
